.container {
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;
}

.bg-yellow {
  background-color: #ffe599;
}

.bg-green {
  background-color: #d9ead3;
}

.bg-red {
  background-color: #ea9999;
}

.bg-gray {
  background-color: #bdbdbd;
}
